/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0; /* Light gray background */
}

/* Container Styles */
.container {
    border: 1px solid #ccc; /* Light gray border */
    width: 700px;
    font-size: 18px;
    background-color: #fff; /* White background */
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
form > * {
    margin-bottom: 20px;
}

/* Heading Styles */
h2 {
    text-align: center;
    color: #e6ebef; /* Elegant blue-gray text color */
    padding: 10px; /* Added padding for heading */
}

/* Header Styles */
.c1 {
    height: 70px;
    color: white;
    background-color: #2c3e50; /* Elegant blue-gray background */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2c3e50; /* Matching border color */
    border-radius: 5px;
}

/* Button Styles */
button {
    padding: 10px 20px;
    color: white;
    background-color: #3498db; /* Elegant blue color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9; /* Slightly darker blue on hover */
}
